$color__rojo: rgb(202, 22, 43);
$color__rojo-tenue: rgb(114, 34, 44);
$color__amarillo: rgb(255, 210, 0);
$color__azul:rgb(76, 118, 161);
$color__base--purpura:rgb(133, 33, 81);
$color__base--verde:rgb(80, 163, 80);
$color__base--fiusha:rgb(193, 67, 109);
$color__base--negro:rgb(15, 12, 36);
$color__base--negromorado:rgb(12, 9, 29);
$color__blanco:rgb(236, 235, 243);
$tipo__titulos: 'DM Serif Text', serif;
$tipo__textos: 'Work Sans', sans-serif;
$font-family-sans-serif: 'Work Sans', sans-serif;
$font-size-base:1.5rem !default;
