@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Work+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "~rfs/scss";
$color__rojo: rgb(202, 22, 43);
$color__rojo-tenue: rgb(114, 34, 44);
$color__amarillo: rgb(255, 210, 0);
$color__azul:rgb(76, 118, 161);
$color__base--purpura:rgb(133, 33, 81);
$color__base--verde:rgb(80, 163, 80);
$color__base--fiusha:rgb(193, 67, 109);
$color__base--negro:rgb(15, 12, 36);
$color__base--negromorado:rgb(12, 9, 29);
$color__blanco:rgb(236, 235, 243);
$tipo__titulos: 'DM Serif Text', serif;
$tipo__textos: 'Work Sans', sans-serif;
$font-family-sans-serif: 'Work Sans', sans-serif;
$font-size-base:1.5rem !default;
@mixin d-flex-column {
    display: flex;
    flex-direction: column;
}
@mixin d-flex-centro {
    justify-content: center;
    align-items: center;
}
.section{
  z-index: 1;
  width: 100%;
}
/* menu header*/

.header{
    width: 100%;
    transform: scale(0.9);
    min-height: 2em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 1rem;
    z-index: 11;

    transition: all ease 1s;
    &__h1{
        font-family: $tipo__titulos;
        line-height: normal;
        color: $color__blanco;
        a{
            text-decoration: none;
            transition: all ease 1s;
            &:link{
              color:  $color__blanco;;
            }
            &:hover,&focus{
              color:$color__base--fiusha;
            }
        }
    }
    &__nav{
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
          width: 100%;
/*           display: flex;
          flex-flow: row;
          justify-content: space-evenly;
          align-items: center; */
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
          list-style: none;
            li{


                button{
                  text-decoration: none;
                  transition: all ease 0.5s;
                  color:  $color__blanco;
                  margin:0 2em;
                  border-radius: 0;

                  &:link{

                  }
                  &:hover,&focus{
                    color:$color__base--negromorado;
                    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
                    transform: scale(115%);
                    background:$color__amarillo;
                  }
                  &:focus{

                  }
                }
            }
        }

    }
}

.header-down{

  animation: scale 1.5s both;


@keyframes scale {
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

    max-height: 5rem;
    background-color: rgba(208, 94, 84, 0.863);

    padding:0 0.5rem;
    position: fixed;
    z-index: 11;
    border-radius:0;
    margin: 0;
    top: 0;
    //transition: all ease 1s;
    h1{
      margin: 0;
      font-size: 1.5rem;
    }
    ul{
      margin: 0;
      li{
        margin:0;
      }
    }
}
/* menu redes*/
.redes{
    width: min(25%, 8rem);
    align-items:center;
    position: fixed;
    top: 90%;
  //  transform: translateY(-50%);
    left: 0.5rem;
    z-index: 10;
    &__ul{
      margin: 0;
      padding-left: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));

        li{
            list-style-type: none;
            margin: 0;
            a{
              text-decoration: none;
              :hover{
                fill: $color__amarillo;
                transform: scale(1.1);
                transition: all ease 0.5s;
              }
            }
            svg{
                width:clamp(0.5rem, 1.5rem, 2rem);
                min-height: 1.5em;
                fill: $color__blanco;
                transition: all ease 1s;
              }
        }
    }
}
.quitar-redes{
 top: -10%;
 transition: all ease 1s;
}
.fondo__circulos{
  transition: all ease 1s;
      background: linear-gradient(111.6deg,  rgba(193,145,103,0.81) -0.5%, rgba(84,20,80,0.76) 50.9%, rgba(8,52,70,0.85) 100%), url('../assets/noise.svg');
    filter: contrast(270%) brightness(100%);
    /*Chrome-specific*/
    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
      .topbanner {
        filter: contrast(290%) brightness(1000%);
      }
    }
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        overflow: hidden;
        z-index:-1;
        @keyframes animate{
            0%{
                opacity:1;
                border-radius: 20%;
                transform: translateY(0px);
               // transform: rotate(0deg);
            }
            100%{
                opacity:0;
                border-radius: 50%;
                transform: translateY(-2000px) rotate(720deg);
               // transform: rotate(720deg);
            }
        }
        div{
          width: 2rem;
          min-height: 2rem;
          background-color:rgba(215, 146, 169, 0.5);
          position: absolute;
          display: block;
          list-style: none;
          bottom: -550px;
          animation: animate 25s linear infinite;
          z-index: 1;
          mix-blend-mode:luminosity;
          //filter: blur(25.0px);
        }
        div:nth-child(1){
          width: 16rem;
          height: 16rem;
          left: 75%;
          animation-delay: 3s;
        }
        div:nth-child(2){
          width: 2rem;
          height: 2rem;
          left: 10%;
          animation-delay: 2s;
          animation-duration: 12s;
        }
        div:nth-child(3){
          width: 7rem;
          height: 7rem;
          left: 90%;
          animation-duration: 9s;
        }
        div:nth-child(4){
          width: 9rem;
          height: 9rem;
          left: 5%;
          animation-delay: 2s;
          animation-duration: 11s;
        }
        div:nth-child(5){
          width: 11rem;
          height: 11rem;
          left: 65%;
          animation-delay: 3s;
        }
        div:nth-child(6){
          width: 4rem;
          height: 4rem;
          left: 25%;
          animation-delay: 2s;
          animation-duration: 9s;
        }
        div:nth-child(7){
          width: 29rem;
          height: 29rem;
          left: 50%;
        }
        div:nth-child(8){
          width: 5rem;
          height: 5rem;
          left: 95%;
        }
        div:nth-child(9){
          width: 7rem;
          height: 7rem;
          left: 15%;
          animation-delay: 6s;
          animation-duration: 7s;
        }
        div:nth-child(10){
          width: 7rem;
          height: 7rem;
          left: 75%;
          animation-delay: 4s;
          animation-duration: 10s;
        }
    }
.fondo-down{
 // transition: all ease 1s;
      background: linear-gradient(111.6deg,  rgba(193,145,103,0.81) -0.5%, rgba(84,20,80,0.76) 50.9%, rgba(8,52,70,0.85) 100%), url('../assets/noise.svg');
    filter: contrast(200%) brightness(200%);
    /*Chrome-specific*/
    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
      .topbanner {
        filter: contrast(100%) brightness(100%);
      }
    }
}
/*top banner*/
.topbanner{
    width: 100%;
    min-height:100vh;
    font-family: $tipo__textos;
    @include d-flex-column;
    @include d-flex-centro;


    &__h1{
        font-family: $tipo__titulos;
        font-size: clamp(3rem, 6vw, 7rem);
        text-align: center;
    }

    &__h2{
        font-family: $tipo__titulos;
        font-size: clamp(1.5rem, 3vw, 3rem);
        text-align: center;
    }
    &__p{
      font-family: $tipo__textos;
      text-align: center;
      font-size: clamp(1rem, 2vw, 2rem);
    }
    &__interior{
        width: min(1020px, 90%);
        min-height: 50vh;
        @include d-flex-column;
        @include d-flex-centro;
        background-color: $color__blanco;
        position: relative;
        z-index:5;
        mix-blend-mode: color-dodge;
        filter: contrast(50%) brightness(100%);
        /*Chrome-specific*/
        @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
          .topbanner {
            filter: contrast(290%) brightness(1000%);
          }
        }
        &__contenido{


        }
    }
}

/*works*/

.works{
  width: 100%;
  min-height: 100vh;
  background-color:$color__amarillo;
    &__h1{}
    &__grid{
        article{
            a{

            }
            h4{
                background-color: red;
            }
        }
    }

}
